<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Anagram Results!</title>
</head>
<body>
    <div class="container">
        <h1>The following words ARE anagrams:</h1>
        {% for item in results %}
            <h4>{{ item }}</h4>
        {% endfor %}
    </div>
</body>
</html>
